In [2]:
import pandas as pd
import os

In [3]:
filepath = "C:\\Users\\steff\\Downloads\\acra-information-on-corporate-entities"
filename = "acra-information-on-corporate-entities-a.csv"
file = os.path.join(filepath, filename)

In [4]:
df = pd.read_csv(file)

In [5]:
df.head()

,business_constitution_description,primary_ssic_description,primary_user_described_activity,street_name,entity_status_description,annual_return_date,postal_code,paid_up_capital10_preference,entity_name,paid_up_capital2_others,...,paid_up_capital10_ordinary,paid_up_capital10_others,uen_of_audit_firm4,paid_up_capital7_others,uen_of_audit_firm5,entity_type_description,paid_up_capital3_ordinary,paid_up_capital5_ordinary,paid_up_capital9_preference,paid_up_capital1_ordinary
0,Sole Proprietor,REPAIR OF DOMESTIC ELECTRICAL/ELECTRONIC APPLI...,na,HOUGANG AVENUE 8,Ceased Registration,na,530446,na,A & E ENGINEERING SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
1,Sole Proprietor,CHARTERED BUS SERVICES (INCLUDING SCHOOL BUSES),na,YISHUN STREET 41,Cancelled (Non-Renewal),na,760456,na,A & Q TRANSIT,na,...,na,na,na,na,na,Business,na,na,na,na
2,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES FOR HEALTHCARE...,PROVIDE BUSINESS MANAGEMENT AND CONSULTANCY SE...,BUKIT BATOK STREET 31,Cancelled,na,659443,na,A AND Y CONSULTANCY SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
3,Sole Proprietor,LETTING AND OPERATING OF SELF-OWNED OR LEASED ...,SALES OF DRINKS & FOODS,TANJONG PAGAR PLAZA,Cancelled,na,082001,na,A COFFEE SHOP,na,...,na,na,na,na,na,Business,na,na,na,na
4,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES N.E.C.,na,TREVOSE CRESCENT,Cancelled,na,298086,na,A DIXIT & ASSOCIATES,na,...,na,na,na,na,na,Business,na,na,na,na

In [6]:
list(df.columns)

['business_constitution_description',
 'primary_ssic_description',
 'primary_user_described_activity',
 'street_name',
 'entity_status_description',
 'annual_return_date',
 'postal_code',
 'paid_up_capital10_preference',
 'entity_name',
 'paid_up_capital2_others',
 'name_of_audit_firm3',
 'address_type',
 'paid_up_capital9_currency',
 'paid_up_capital8_ordinary',
 'paid_up_capital6_others',
 'paid_up_capital6_ordinary',
 'level_no',
 'paid_up_capital9_others',
 'former_entity_name9',
 'paid_up_capital7_currency',
 'paid_up_capital6_preference',
 'paid_up_capital4_currency',
 'secondary_ssic_code',
 'paid_up_capital7_preference',
 'paid_up_capital1_preference',
 'paid_up_capital2_preference',
 'uen',
 'uen_issue_date',
 'no_of_officers',
 'former_entity_name3',
 'building_name',
 'no_of_charges',
 'paid_up_capital8_currency',
 'paid_up_capital2_ordinary',
 'paid_up_capital3_others',
 'paid_up_capital4_others',
 'secondary_ssic_description',
 'paid_up_capital10_currency',
 'paid_up_capital8_others',
 'paid_up_capital1_others',
 'paid_up_capital3_currency',
 'block',
 'other_address_line2',
 'other_address_line1',
 'account_due_date',
 'paid_up_capital7_ordinary',
 'former_entity_name8',
 'paid_up_capital5_preference',
 'former_entity_name2',
 'paid_up_capital3_preference',
 'former_entity_name1',
 'former_entity_name6',
 'former_entity_name7',
 'former_entity_name4',
 'former_entity_name5',
 'paid_up_capital4_ordinary',
 'secondary_user_described_activity',
 'issuance_agency_id',
 'former_entity_name14',
 'former_entity_name15',
 'former_entity_name10',
 'registration_incorporation_date',
 'former_entity_name12',
 'former_entity_name13',
 'paid_up_capital2_currency',
 'paid_up_capital1_currency',
 'paid_up_capital8_preference',
 'primary_ssic_code',
 'name_of_audit_firm5',
 'name_of_audit_firm4',
 'name_of_audit_firm1',
 'paf_constitution_description',
 'name_of_audit_firm2',
 'paid_up_capital9_ordinary',
 'paid_up_capital4_preference',
 'former_entity_name11',
 'unit_no',
 'paid_up_capital5_others',
 'paid_up_capital6_currency',
 'paid_up_capital5_currency',
 'company_type_description',
 'uen_of_audit_firm3',
 'uen_of_audit_firm2',
 'uen_of_audit_firm1',
 'paid_up_capital10_ordinary',
 'paid_up_capital10_others',
 'uen_of_audit_firm4',
 'paid_up_capital7_others',
 'uen_of_audit_firm5',
 'entity_type_description',
 'paid_up_capital3_ordinary',
 'paid_up_capital5_ordinary',
 'paid_up_capital9_preference',
 'paid_up_capital1_ordinary']

In [7]:
df.head()

,business_constitution_description,primary_ssic_description,primary_user_described_activity,street_name,entity_status_description,annual_return_date,postal_code,paid_up_capital10_preference,entity_name,paid_up_capital2_others,...,paid_up_capital10_ordinary,paid_up_capital10_others,uen_of_audit_firm4,paid_up_capital7_others,uen_of_audit_firm5,entity_type_description,paid_up_capital3_ordinary,paid_up_capital5_ordinary,paid_up_capital9_preference,paid_up_capital1_ordinary
0,Sole Proprietor,REPAIR OF DOMESTIC ELECTRICAL/ELECTRONIC APPLI...,na,HOUGANG AVENUE 8,Ceased Registration,na,530446,na,A & E ENGINEERING SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
1,Sole Proprietor,CHARTERED BUS SERVICES (INCLUDING SCHOOL BUSES),na,YISHUN STREET 41,Cancelled (Non-Renewal),na,760456,na,A & Q TRANSIT,na,...,na,na,na,na,na,Business,na,na,na,na
2,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES FOR HEALTHCARE...,PROVIDE BUSINESS MANAGEMENT AND CONSULTANCY SE...,BUKIT BATOK STREET 31,Cancelled,na,659443,na,A AND Y CONSULTANCY SERVICES,na,...,na,na,na,na,na,Business,na,na,na,na
3,Sole Proprietor,LETTING AND OPERATING OF SELF-OWNED OR LEASED ...,SALES OF DRINKS & FOODS,TANJONG PAGAR PLAZA,Cancelled,na,082001,na,A COFFEE SHOP,na,...,na,na,na,na,na,Business,na,na,na,na
4,Sole Proprietor,MANAGEMENT CONSULTANCY SERVICES N.E.C.,na,TREVOSE CRESCENT,Cancelled,na,298086,na,A DIXIT & ASSOCIATES,na,...,na,na,na,na,na,Business,na,na,na,na

In [8]:
df[['entity_name', 
    'street_name', 
    'postal_code',
    'address_type',  
    'level_no', 
    'building_name', 
    'block',
    'other_address_line2',
    'other_address_line1',
    'unit_no']]

,entity_name,street_name,postal_code,address_type,level_no,building_name,block,other_address_line2,other_address_line1,unit_no
0,A & E ENGINEERING SERVICES,HOUGANG AVENUE 8,530446,LOCAL,B1,na,446,na,na,1635
1,A & Q TRANSIT,YISHUN STREET 41,760456,LOCAL,06,DEW SPRING @ YISHUN,456,na,na,75
2,A AND Y CONSULTANCY SERVICES,BUKIT BATOK STREET 31,659443,LOCAL,09,"MADEIRA, THE",52,na,na,08
3,A COFFEE SHOP,TANJONG PAGAR PLAZA,082001,LOCAL,01,na,1,na,na,53
4,A DIXIT & ASSOCIATES,TREVOSE CRESCENT,298086,LOCAL,na,na,74,na,na,na
...,...,...,...,...,...,...,...,...,...,...
137578,A_TALENT,CACTUS DRIVE,809689,LOCAL,04,GRANDE VISTA,14,na,na,04
137579,A`VAIL HAIR STUDIO,GOPENG STREET,078877,LOCAL,na,na,12,na,na,na
137580,A|A DESIGN,MOUNT SINAI DRIVE,277125,LOCAL,03,na,80,na,na,05
137581,A~STAR PLASTIC LIGHT METAL INDUSTRIES PTE. LTD.,TUAS WEST AVENUE,638435,LOCAL,na,na,21,na,na,na
137582,A~STAR PLASTICS PTE. LTD.,TUAS LINK 2,638551,LOCAL,na,na,2,na,na,na

In [9]:
df.shape

(137583, 94)